@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(240, 240, 240);
    transition: background 0.2s linear;
    align-items: center;
    justify-content: center;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
}

/*navbar*/

nav .sticky {
    padding: 5px 10px;
    background: #FFF;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    background: #510080;    
    padding: 10px;
}

.navbar span {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 29px;
    margin: 10px;
}

.navbar .portfolio {
    color: rgb(198, 15, 253);
    font-family: 'Ubuntu', sans-serif;
    margin-left: -11px;
    padding: 10px;
}

.navbar a {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 30px;
    color: rgb(255, 243, 228);
}

.navbar a:hover {
    color: rgb(206, 206, 206);
}

.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 30px;
}

#toggler, .navbar label {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;

    }

    .navbar a {
        font-size: 20px;
        
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu { 
        max-height: 100%;
    }
}

/*final da navbar*/



/*Inicio Home*/
.home {
    display: flex;
    background:url(img/img.jpg) no-repeat center;
    height: 100vh;
    color: #FFF;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home.max-width {
    margin: auto 0 auto 45px;
        
} 

.home .home-content .text-1 {
    font-size: 27px;
    margin-top: 80px;
    margin-left: 20px;
}

.home .home-content .text-2 {
    font-size: 60px;
    font-weight: 500;
    margin-left: 20px;
}

.home .home-content .text-3 {
    font-size: 25px;
    margin: 5px 0;
    margin-left: 20px;
}

.home .home-content .text-3 span {
    color: rgb(198, 15, 253);
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #510080;
    color: #FFF;
    font-size: 18px;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #510080;
}

.home .home-content a:hover {
    color: rgb(198, 15, 253);
    background: none;
}



@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }

    .home .home-content .text-2 {
        font-size: 50px;
    }
    
    .home .home-content .text-3 {
        font-size: 30px;
    }

    .home .home-content a {
        font-size: 20px;
        padding: 10px 30px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }
}

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}


@media (max-width: 690px) {
    .home .home-content .text-2 {
        font-size: 40px;
    }
    
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .home .home-content a {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 40px;
    }
    
    .home .home-content .text-3 {
        font-size: 23px;
    }
}

/*Final Home */



/*Início Sobre*/


body.dark {
    background: #5a5a5a;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    margin: 0 47%;
    margin-top: 40px;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 20px;
    width: 46px;
    transform: scale(1.5);
}

.label .ball {
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
    font-size: 13px;
}
.fa-sun {
    color: #fda10b;
    font-size: 13px;
}

section {
    padding: 50px 0;
}

.about {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.about .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 106px;
    height: 3px;
    background: #111;
    transform: translate(-50%);
}

.about .title::after {
    content: 'mim';
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #FFF;
    transform: translate(-50%);
    border-radius: 10px;
}

.about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 230px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 10px;
}

.about .about-content .right {
    width: 55%;

}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;

}

.about .about-content .right p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

/*Final Sobre*/


/*Habilidades*/

.container-1 {
    padding: 0 16px;
    margin-right: 10px;
    margin-left: 10px;
  }


.box {
    background: rgb(255, 255, 255);
    padding: 4rem;
    box-shadow: 1px 1px 10px #510080;
    border-radius: 50px;
    text-align: center;
    margin-top: 4rem;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
  }

  .box i {
      margin-left: 25px;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 1px 1px 5px #510080;
      margin-bottom: 10px;
  }

  .box h2 {
      color: #510080;
      margin-bottom: 40px;
  }

  .portfolio #html {
    color:#F75600 ;
    font-size: 48px;
  }

  .portfolio #css {
    color: #2862E9;
    font-size: 48px;
  }
  
  .portfolio #js {
    color: #EFD81D;
    font-size: 48px;
  }
  
  .portfolio #bootstrap {
    color: #6832B0;
    font-size: 48px;
  }

  .portfolio #java {
    color: #efac1d;
    color: #2b4649;
    font-size: 48px;
  }

  .portfolio #react {
    color: #5eb7f3;
    font-size: 48px;
  }

  .portfolio #python {
    color: #efac1d;
    font-size: 48px;
  }

  .portfolio #github {
      font-size: 48px;
  }

  .portfolio h4 {
      cursor: pointer;
       margin-bottom: 30px;
      margin-top: 30px;
      color: #ffffff;
      
  }

 h4 {
    display: inline-block;
    background: crimson;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

h4:hover {
    color: crimson;
    background: none;
}

  .portfolio p {
      height: 1px;
      overflow: hidden;
      transition: 1s ease-in-out;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      color: #510080;
  }

  .mostrar {
      height: 207px !important;
  }

  @media (max-width: 600px) {
    .box {
      padding: 2rem;
      margin-top: 10px;
      border-radius: 30px;
    }

    .box:first-child {
      padding: 3rem;
    }

    .box i {
        margin-bottom: 20px;
    }
}

/*Cards*/

.projetos {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 70px;    
    color: #510080;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background: #510080;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

.container a{
    color: #000000;
}

.container .card {
    border-radius: 10px;
    max-width: 300px;
    position: relative;
    height: 160px;
    background: #f0f0f0;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column; 
    transition: 0.3s ease-in-out;
    margin-top: 50px;
}

.container .card:hover {
    height: 420px;

}


.container .card .imgbx {
    border-radius: 10px;
    position: relative;
    width: 260px;
    top: -60px;
    left: 2px;
    z-index: 1;
    box-shadow:  0 5px 20px rgba(0,0,0,0.2);

}

.container .card .imgbx img {
    max-width: 100%;
    border-radius: 10px;

}



.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.container .card:hover .content h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}

.container .card:hover .content p {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #510080;
}

.container .card:hover .content .cordel {
    color: #2862E9;
}

.container .card:hover .content .spotify {
    color: rgb(233, 1, 1);
}

/* Fim Cards*/


/*Footer*/

footer {
    position: relative;
    width: 100%;
    background: rgb(245, 244, 244);
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;

}

footer .social-icon li a {
    font-size: 2em;
    margin: 0 16px;
    transition: 0.5s;
    color: blue;
    flex-direction: column;
}

footer .social-icon li a:hover {
    color: #316aee;
}

footer .contato li {
    padding: 10px;
    list-style: none;
    color: #000000;
}

footer .contato .zap {
    color: #25D366;
    font-size: 1.6em;
    margin-right: 7px;
}

footer p {
    color: #510080;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 1.1em;
}